<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
<div class="filter">
    <div class="content">
      <h3>Import Orders</h3>
        <%= form_tag import_orders_path, multipart: true do %>
          <%= file_field_tag :file %>
          <br>
          <%= submit_tag "Import" %>
      <% end %>
    </div>
    <div class="content">
      <h3>Filter</h3>
      <%= form_tag orders_path, multipart: true, :method => 'get' do %>
        <%= select_tag "categoria", options_for_select(@filter_category), {:include_blank => "Select"} %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>
  </div>
</div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:referencia_pedido) %></th>
      <th><%= model_class.human_attribute_name(:email_pedido) %></th>
      <th><%= model_class.human_attribute_name(:data_pagamento) %></th>
      <th><%= model_class.human_attribute_name(:nome_cliente) %></th>
      <th><%= model_class.human_attribute_name(:estado_pedido) %></th>
      <th><%= model_class.human_attribute_name(:valor_total) %></th>
      <th><%= model_class.human_attribute_name(:valor_produto) %></th>
      <th><%= model_class.human_attribute_name(:imagem_produto) %></th>
      <th><%= model_class.human_attribute_name(:nome_produto) %></th>
      <th><%= model_class.human_attribute_name(:categoria) %></th>
      <th><%= model_class.human_attribute_name(:valor_base) %></th>
      <th><%= model_class.human_attribute_name(:cidade) %></th>
      <th><%= model_class.human_attribute_name(:estado) %></th>
      <th><%= model_class.human_attribute_name(:endereco) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, order_path(order) %></td>
        <td><%= order.referencia_pedido %></td>
        <td><%= order.email_pedido %></td>
        <td><%= order.data_pagamento %></td>
        <td><%= order.nome_cliente %></td>
        <td><%= order.estado_pedido %></td>
        <td><%= order.valor_total %></td>
        <td><%= order.valor_produto %></td>
        <td><%= order.imagem_produto %></td>
        <td><%= order.nome_produto %></td>
        <td><%= order.categoria %></td>
        <td><%= order.valor_base %></td>
        <td><%= order.cidade %></td>
        <td><%= order.estado %></td>
        <td><%= order.endereco %></td>
        <td><%=l order.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      order_path(order), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_order_path(order), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      order_path(order),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_order_path,
            :class => 'btn btn-primary' %>
